<button
    mat-icon-button
    [matTooltip]="
        themeService.currentTheme() === 'light'
            ? 'Dark Theme'
            : themeService.currentTheme() === 'dark'
              ? 'System Theme'
              : 'Light Theme'
    "
    (click)="themeService.toggleTheme()"
    aria-label="Toggle theme"
>
    <mat-icon class="![color:var(--primary)]">
        {{
            themeService.currentTheme() === "light"
                ? "bedtime"
                : themeService.currentTheme() === "dark"
                  ? "computer"
                  : "light_mode"
        }}
    </mat-icon>
</button>
