<main style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 1.25rem; width: 100%; min-height: calc(100vh - 192px);">
    <h1 class="gradient-text">{{ title }}</h1>
    <div style="display: flex; align-items: center; gap: 1rem;">
        <button matButton="outlined" [routerLink]="'/profile'" style="width: 110px;">Profile</button>
        @if (isAdmin) {
            <button mat-flat-button [routerLink]="'/dashboard'">Dashboard</button>
        }
        @if (isUser) {
            <button mat-flat-button [routerLink]="'/checkout'">BUY NOW</button>
        }
    </div>
</main>
