<main class="w-full min-h-screen flex flex-col items-center justify-center gap-5">
    <div>
        <h2 class="text-bold text-3xl text-center [color:var(--outline)]">{{ time }}</h2>
        <h2 class="text-bold text-3xl [color:var(--outline)]">{{ date }}</h2>
    </div>
    <h1>{{ title }}</h1>
    <div class="mt-3">
        <app-counter />
    </div>
    <div
        class="h-px w-1/5 my-6 bg-gradient-to-r from-red-500 via-pink-500 to-purple-500"
        role="separator"
        aria-label="Divider"
    ></div>

    <div class="flex items-center gap-4">
        <button mat-flat-button [routerLink]="'/dashboard'">Dashboard</button>
        <button mat-flat-button [routerLink]="'/profile'">Profile</button>
    </div>
</main>
